/* theme colors */
:root {
  --primary-bg-color: #fff;
  --primary-font-color: #242038;
  --secondary-font-color: #359218;
  --web-color: #0000EE;
  --cloudflare-color: #f6821f;
  --apollo-color: #3f20ba;
  --rust-color: #ed6935;
  --twitter-color: #1e9bef;
  --github-color: #24292f;
}

/* font imports */
@font-face {
  font-family: "Royal Acidbath Outline";
  src: url("../fonts/royal_acid_o.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Muli";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/muli.ttf") format("truetype");
}

/* text styling and colors */
body {
  background-color: var(--primary-bg-color)
}

h1 {
  font-family: "Royal Acidbath Outline", serif;
  color: var(--primary-font-color);
  font-weight: 600;
  font-size: 6rem;
  line-height: 5.5rem;
}

article {
  font-family: "Muli", sans-serif;
  color: var(--primary-font-color);
  font-size: 1.5rem;
  line-height: 3rem;
}

firstname {
  color: var(--primary-font-color);
}

lastname {
  color: var(--secondary-font-color);
}

a {
  text-decoration: none;
  color: var(--secondary-font-color);
}

a:hover,
a:focus,
a:active {
  text-shadow: 1px 1px var(--primary-font-color);
  color: var(--primary-bg-color) !important;
  background-color: var(--secondary-font-color);
}

a.cloudflare {
  color: var(--cloudflare-color);
}

a.cloudflare:hover,
a.cloudflare:focus,
a.cloudflare:active {
  background-color: var(--cloudflare-color);
}

a.apollo {
  color: var(--apollo-color);
}

a.apollo:hover,
a.apollo:focus,
a.apollo:active {
  background-color: var(--apollo-color);
}

a.rust {
  color: var(--rust-color);
}

a.rust:hover,
a.rust:focus,
a.rust:active {
  background-color: var(--rust-color);
}

a.github {
  color: var(--github-color);
}

a.github:hover,
a.github:focus,
a.github:active {
  background-color: var(--github-color);
}

a.twitter {
  color: var(--twitter-color);
}

a.twitter:hover,
a.twitter:focus,
a.twitter:active {
  background-color: var(--twitter-color);
}

a.web {
  color: var(--web-color);
}

a.web:hover,
a.web:focus,
a.web:active {
  background-color: var(--web-color);
}

/* layout */
a {
  padding: 0.25rem;
}

body {
  padding-left: 10%;
  padding-right: 10%;
}

/* not phones, center vertically */
@media only screen and (min-width: 900px) and (min-height: 650px) {
  html {
    height: 100vh;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    display: table;
  }

  body {
    height: 100%;
    vertical-align: middle;
    display: table-cell;
    overflow: hidden;
  }
}

/* small-medium screens, extra padding */
@media only screen and (min-width: 900px) {
  body {
    padding-left: 20%;
    padding-right: 20%;
  }
}

/* big screens, extra extra padding */
@media only screen and (min-width: 1600px) {
  body {
    padding-left: 25%;
    padding-right: 25%;
  }
}
